h1 {
 text-align: center;
 font-family: 'Amatic SC', Verdana, sans-serif;
 color: white;
 background-color: darkcyan;
 position: fixed;
 margin: 0px;
 border: 3px solid black;
 width: 100%;

}
h2 {
  color: darkolivegreen;
}
section {
  border: 2px solid black;
  margin: 5px;
  padding: 5px;
  font-family: 'Crimson Text', sans-serif;
  background-color: beige;
}
h4+p {
  font-style: italic;
}

#img1 {
  height: 100px;
  width: 200px;
  display: block;
  margin: 0 auto;
  border: 1px solid black;
}

img+h2 {
  text-align: center;
}

.jobhistory {
  float: left;
  width: 400px;
  height: 240px;
}

.knowledge {
  float: right;
  width: 400px;
  height: 240px;
  text-align: center;
}

.where {
  clear: both;
}

.jobhistory h2 {
  text-align: center;
}
