h1 {
  text-align: center;
  text-decoration: underline;
  font-family: 'Amatic SC', Verdana, sans-serif;
  color: white;
  background-color: darkcyan;
}
h2 {
  color: darkolivegreen;
}
section {
  border: 2px solid black;
  margin: 5px;
  padding: 5px;
  font-family: 'Crimson Text', sans-serif;
  background-color: beige;
}
h4+p {
  font-style: italic;
}
